#heading{
    text-align: center;
    font-family:styled ;
    font-size: 65px;
    font-weight: lighter;
}

@font-face {
    font-family: styled;
    src: url('/src/fonts/delight_sunset/Delight\ Sunset.otf');
}