@font-face {
    font-family:nexa;
    src: url('./fonts/akira_expanded/Akira\ Expanded\ Demo.otf');
}
.holder{
    display: flex;
    justify-content:center; 
    align-items: center;
}
.img{
    position: relative;
    top:50px;
    border-radius:25px;
    filter:drop-shadow(0px 0px 12px black); 
}
.btnstyle {
background-color:rgb(255, 255, 255);
color:rgb(0, 0, 0);
border-radius:10px;
text-align:center;
height:50px;
width: 150px;
font-family:nexa;
transition: all .5s ease-in-out;
cursor: pointer;
}

.btnstyle:hover{
    transform: translateY(-5px);
}